/* html {
  background-color: #F4CE14;
} */

#root {
  margin: 0;
  padding: 0;
  width:100vw;
  background-color: #F4CE14;
  
}

.header {
  background-color: #454546;
  color: #fff;
  display: flex;
  justify-content: center;
}

.subtitulo {
  display: flex;
  justify-content: center;
}


.container-formulario {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

select, input {
    
  width: 70vw;
  margin-right: 15vw;
  margin-left: 15vw;
}

.importe {
  display: flex;
  color: #454546;
  font-size: x-large;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.historial {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6px;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 20px;
}
  
span {

  font-size: xx-large;
  text-decoration: none;
  color: #454546; 
}


table table-hover {
  display: flex;
}


label { 
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
}
.subtitulos {

  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-button {
  margin: 20px;
  display: flex;
  justify-content: center;
}

span {

  font-size: xx-large;
  text-decoration: none;
 
}


